<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| <%= t ("static_pages.basic_title") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to t("eng"), locale: Settings.locale[:english] %> |
    <%= link_to t("vie"), locale: Settings.locale[:vietnamese] %>
    <%= yield %>
  </body>
</html>
